@using la_mia_pizzeria_crud_webapi.Models
@model List<la_mia_pizzeria_crud_webapi.Models.Pizza>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (Model.Count < 1)
    {
        <h1>Non ci sono pizze nel database</h1>
    }
    else
    {
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Foto</th>
                <th>Prezzo</th>
                <th>Categoria</th>
                <th>Ingredienti</th>
            </tr>
            </thead>

            <tbody>
            @foreach (Pizza pizza in Model)
            {
                <tr>
                    <td>
                        @pizza.Name
                    </td>
                    <td>@pizza.Description</td>
                    <td>
                        <img src="" alt="@pizza.Image"/>
                    </td>
                    <td>@pizza.Price €</td>
                    <td>@pizza.Category.Name</td>
                    <td>
                        @foreach (var ingredient in pizza.Ingredients)
                        {
                            <span>@ingredient.Name </span>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<script type="text/javascript">
    let pizzas;
    axios.get("api/home/get")
        .then(response => {
            pizzas = response.data;
            console.log(pizzas);
        })
        .catch(error => {
            console.log(error);
        });
</script>